# THE vg-stats

In [11]:
import pandas as pd
import numpy as np

Read file using pandas , convert it to data frame

In [12]:
vg_sales = pd.read_csv("./vgsales.csv")
vg_sales

,Rank,Name,Platform,Year,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales
0,1,Wii Sports,Wii,2006.0,Sports,Nintendo,41.49,29.02,3.77,8.46,82.74
1,2,Super Mario Bros.,NES,1985.0,Platform,Nintendo,29.08,3.58,6.81,0.77,40.24
2,3,Mario Kart Wii,Wii,2008.0,Racing,Nintendo,15.85,12.88,3.79,3.31,35.82
3,4,Wii Sports Resort,Wii,2009.0,Sports,Nintendo,15.75,11.01,3.28,2.96,33.00
4,5,Pokemon Red/Pokemon Blue,GB,1996.0,Role-Playing,Nintendo,11.27,8.89,10.22,1.00,31.37
...,...,...,...,...,...,...,...,...,...,...,...
16593,16596,Woody Woodpecker in Crazy Castle 5,GBA,2002.0,Platform,Kemco,0.01,0.00,0.00,0.00,0.01
16594,16597,Men in Black II: Alien Escape,GC,2003.0,Shooter,Infogrames,0.01,0.00,0.00,0.00,0.01
16595,16598,SCORE International Baja 1000: The Official Game,PS2,2008.0,Racing,Activision,0.00,0.00,0.00,0.00,0.01
16596,16599,Know How 2,DS,2010.0,Puzzle,7G//AMES,0.00,0.01,0.00,0.00,0.01
16597,16600,Spirits & Spells,GBA,2003.0,Platform,Wanadoo,0.01,0.00,0.00,0.00,0.01

Which company is the most common video game publisher

In [13]:
most_common_publisher = vg_sales['Publisher'].mode().item()
most_common_publisher

'Electronic Arts'

Whatâ€™s the most common platform

In [14]:
most_common_platform = vg_sales['Platform'].mode().item()
most_common_platform

'DS'


What about the most common genre?

In [15]:
most_common_genre = vg_sales['Genre'].mode().item()
most_common_genre

'Action'

What are the top 20 highest grossing games?

In [16]:
top_twenty_highest_grossing_games=vg_sales[['Name', 'Global_Sales']].head(20)
top_twenty_highest_grossing_games

                                            Name  Global_Sales
0                                     Wii Sports         82.74
1                              Super Mario Bros.         40.24
2                                 Mario Kart Wii         35.82
3                              Wii Sports Resort         33.00
4                       Pokemon Red/Pokemon Blue         31.37
5                                         Tetris         30.26
6                          New Super Mario Bros.         30.01
7                                       Wii Play         29.02
8                      New Super Mario Bros. Wii         28.62
9                                      Duck Hunt         28.31
10                                    Nintendogs         24.76
11                                 Mario Kart DS         23.42
12                   Pokemon Gold/Pokemon Silver         23.10
13                                       Wii Fit         22.72
14                                  Wii Fit Plus         22.00
15                            Kinect Adventures!         21.82
16                            Grand Theft Auto V         21.40
17                 Grand Theft Auto: San Andreas         20.81
18                             Super Mario World         20.61
19  Brain Age: Train Your Brain in Minutes a Day         20.22

For North American video game sales, whatâ€™s the median?

In [19]:
median = vg_sales['NA_Sales'].median()
median

0.08


What are the top 20 highest grossing games?

In [ ]:
top_ten_game_sales_surrounding_in_the_median=vg_sales[vg_sales['NA_Sales']==vg_sales['NA_Sales'].median()]

In [ ]:
top_ten_game_sales_surrounding_in_the_median[['Name', 'NA_Sales']][225:236]

                                        Name  NA_Sales
9934                        Turok: Evolution      0.08
9957                                Deadpool      0.08
9996              GT Advance 2: Rally Racing      0.08
10000                         A Witch's Tale      0.08
10012                      Nickelodeon Dance      0.08
10020               Phantasy Star Collection      0.08
10022                  LEGO Knights' Kingdom      0.08
10024     Family Game Night 4: The Game Show      0.08
10026                           NBA Jam 2002      0.08
10029               Tony Hawk's Pro Skater 5      0.08
10042  Tom Clancy's Rainbow Six: Rogue Spear      0.08

For the top-selling game of all time, how many standard deviations above/below the mean are its sales for North America?

In [ ]:
na_distribution=(vg_sales['NA_Sales'].iloc[0] , vg_sales["NA_Sales"].mean())/vg_sales["NA_Sales"].std()
na_distribution

array([50.80306375,  0.32407607])

The Nintendo Wii seems to have outdone itself with games. How does its average number of sales compare with all of the other platforms?

In [ ]:
average_sale_wii=vg_sales[vg_sales['Platform']=='Wii'].Global_Sales.mean()
average_sale_all=vg_sales['Global_Sales'].mean()
compare_tuple=(average_sale_all, average_sale_wii)
compare_tuple

(0.5374406555006628, 0.6994037735849057)

What is the average sales for PS2 ?

In [ ]:
average_PS2_sales=vg_sales[vg_sales['Platform']=='PS2'].Global_Sales.mean()
average_PS2_sales

0.5810458121240166

What is the second best selling game?

In [ ]:
second_game=vg_sales['Name'][1]
second_game

'Super Mario Bros.'

What is the median for Global sales?

In [ ]:
median_global_sales=vg_sales['Global_Sales'].median()
median_global_sales

0.17

Test

In [23]:

def test():

    def assert_equal(actual,expected):
        assert actual == expected, f"Expected {expected} but got {actual}"

    assert_equal(most_common_publisher, 'Electronic Arts')
    assert_equal(most_common_platform, 'DS')
    assert_equal(most_common_genre, 'Action')
    assert_equal(top_twenty_highest_grossing_games.iloc[0].Name, 'Wii Sports')
    assert_equal(top_twenty_highest_grossing_games.iloc[19].Name, 'Brain Age: Train Your Brain in Minutes a Day')
    assert_equal(median, 0.08)
    assert_equal(na_distribution, 50.47898767479108)
    print("Success!!!")
test()

NameError: name 'top_ten_game_sales_surrounding_in_the_median' is not defined